name: "Link NLVN PR to Jira Ticket"

on:
  pull_request: 
    types:
      - opened
      - reopened
      - synchronize

jobs:
  update_pr:
    runs-on: ubuntu-latest
    steps:
    - uses: tzkhan/pr-update-action@v2
      continue-on-error: true
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        head-branch-regex: 'nlvn-[\d]+'
        title-template: ' [%headbranch%]'
        body-template: |
          Jira ticket: [%headbranch%](https://tixtrack.atlassian.net/browse/%headbranch%)
        body-update-action: 'suffix'
        title-update-action: 'prefix'
